<!DOCTYPE html>
<html ng-app="maintenance">
<head>
  <title>Dive Log (ng-controller)</title>
  <link href="./lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
  .oddRow {
    background-color: #dddddd;
  }
</style>
<body>
  <div class="container-fluid" ng-controller="siteEditCtrl">
    <h1>My Latest Dives (ng-contoller)</h1>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-lg" >

          Add new dive
        </button>
      </div>
      <div class="col-sm-4 col-sm-offset-3">
        <input class="form-control input-lg"
          placeholder="Search" 
          ng-model="searchKey" />
      </div>
    </div>
    <div class="row" ng-repeat="site in sites"
         ng-class="{oddRow:$index%2==0}" >
          <div class ="col-sml-8">
            <h4>{{$index+1}}:{{site}} </h4>
          </div>
          <div class ="col-sml-4" style=""margin-top:5px;">
              <div class="pull-right">
                <button class="btn btn-warning btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
              </div>
          </div>
      </div>
    </div>
  </div>
  <script src="./lib/angular/angular.min.js"></script>
  <script src="sites.js"></script>
  <script>
    angular.module('maintenance', [])
      .controller('siteEditCtrl', SiteEditCtrl);

    function SiteEditCtrl($scope) {
      $scope.sites = sites;

    $scope.addDrive = function () {
        if ($scope.enableAdd()) {
          $scope.dives.push(dives[index++]);
        }
      }

      $scope.clearDives = function () {
        $scope.dives = [];
        index = 0;
    }
    $scope.enableAdd = function () {
        return index < dives.length;
      }
    }
  </script>
</body>
</html>
